attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
certifi==2020.12.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cffi==1.14.5; python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cryptography==39.0.1; python_version >= "3.6"
cycler==0.10.0; python_version >= "3.7"
dill==0.3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.1.0" and python_version >= "3.6"
dlx==1.0.4; python_version >= "3.6"
docplex==2.15.194
fastdtw==0.3.4; python_version >= "3.6"
fastjsonschema==2.15.1; python_version >= "3.6"
h5py==3.1.0; python_version >= "3.6"
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
inflection==0.5.1; python_version >= "3.6"
joblib==1.2.0; python_version >= "3.6"
jsonschema==3.2.0; python_version >= "3.6"
kiwisolver==1.3.1; python_version >= "3.7"
lxml==4.6.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
matplotlib==3.4.2; python_version >= "3.7"
more-itertools==8.7.0; python_version >= "3.6"
mpmath==1.2.1; python_version >= "3.6"
multitasking==0.0.9; python_version >= "3.6"
nest-asyncio==1.5.1; python_version >= "3.6"
ntlm-auth==1.5.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
numpy==1.22.0; python_full_version >= "3.7.1" and python_version == "3.8"
pandas==1.2.3; python_full_version >= "3.7.1" and python_version >= "3.6"
pillow==9.0.1; python_version >= "3.7"
ply==3.11; python_version >= "3.6"
psutil==5.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pybind11==2.6.2; python_version >= "3.6"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pylatexenc==2.10
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pyrsistent==0.17.3; python_version >= "3.6"
python-constraint==1.4.0; python_version >= "3.6"
python-dateutil==2.8.1; python_full_version >= "3.7.1" and python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
pytz==2021.1; python_full_version >= "3.7.1" and python_version >= "3.6"
qiskit-aer==0.8.2; python_version >= "3.6"
qiskit-aqua==0.9.1; python_version >= "3.6"
qiskit-ibmq-provider==0.12.3; python_version >= "3.6"
qiskit-ignis==0.6.0; python_version >= "3.6"
qiskit-terra==0.17.2; python_version >= "3.6"
qiskit==0.25.4; python_version >= "3.6"
quandl==3.6.0; python_version >= "3.6"
requests-ntlm==1.1.0; python_version >= "3.6"
requests==2.25.1; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform != "darwin" or python_full_version >= "3.5.0" and python_version >= "3.6" and sys_platform != "darwin"
retworkx==0.8.0; python_version >= "3.6"
scikit-learn==0.24.1; python_version >= "3.6"
scipy==1.6.1; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform != "darwin" or python_full_version >= "3.3.0" and python_version >= "3.7" and sys_platform != "darwin"
sympy==1.7.1; python_version >= "3.6"
threadpoolctl==2.1.0; python_version >= "3.6"
urllib3==1.26.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
websockets==9.0.1; python_full_version >= "3.6.1" and python_version >= "3.6"
yfinance==0.1.55; python_version >= "3.6"
